<app-navbar></app-navbar>
<div class="wrapper mt-2 text-center">
  <div class="body">
    <h2 class="title">Pokemon</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pokemon of listPokemon">
            <td>{{ pokemon.id }}</td>
            <td>{{ pokemon.name }}</td>
            <td class="description-cell">{{ pokemon.description }}</td>
            <td><img [src]="pokemon.image" alt="{{ pokemon.name }}" class="pokemon-image"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
