.table-container {
    width: 90%;
    margin: 0 auto; /* Centra la tabla en la página */
    overflow-x: auto;
    max-height: 80vh; /* Limita la altura máxima del contenedor de la tabla */
  }
  
  table {
    border-collapse: collapse;
    /* table-layout: fixed; Hace que la tabla tenga un diseño de ancho fijo */
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis; /* Añade puntos suspensivos para el texto largo */
  }
  
td{
    background-color: #ffffff;
    text-align: center;
}

  th {
    background-color: #0167ff;
    font-weight: bold;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pokemon-image {
    width: 150px;
    height: auto;
  }
  
  .description-cell {
    max-height: 40px; /* Limita la altura máxima de la celda */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido es más grande que la altura */
    white-space: normal; /* Permite que el texto se envuelva dentro de la celda */
    word-break: break-word; /* Permite que las palabras largas se dividan y se ajusten dentro de la celda */
  }
  
  td.description-cell {
    word-wrap: break-word; /* Asegura que el texto largo se divida y se ajuste dentro de la celda */
  }
  