/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    width: 100%;
}

.wrapper{
    display: flex;
    justify-content: center;
    background-color: #0c0741;
    height: 100%;
}
.title{
    color: #fff;
    font-size: 50px;
}
.logo{
    height: 130px;
    margin-bottom: 10px;
}


 .mt-3{
    color: #fff;
 }
 .container-fluid{
    background-color: rgb(235, 235, 235);
    height: 50px;
 }